<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {{ content.field_video }}
      <div class="section-inner">
        {{ content.body }}
      </div>
    </div>
  </div>
</div>